body{
    background-color: black;
}

.buttons{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-column-gap: 20px;
    height: 150px;
    justify-content: center;
}

.button{
    border-radius: 100px;
    transition: opacity,background-color 0.15s;
    cursor: pointer;
    border: none;
    position: relative;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    border: blue solid;
}

.texts{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-column-gap: 20px;
    justify-content: center;
    margin-top: 60px;
}
.oyuncu,
.bilgisayar,
.kazanan{
    color: white;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.win{
    color: white;
}
.lose{
    color: white;
}
.tie{
    color: rgb(255, 255, 255);
}

.scoretext{
    display: inline-block;
    width: 200px;
    margin-top: 40px;
}

.reset{
    width: 100px;
    height: 100px;
    vertical-align: middle;
    margin-top: 40px;
    float: right;
    margin-right: 40px;
    border-radius: 6px;
    border: none;
    background-color: blue;
    color: wheat;
    transition: all 0.2s;
    cursor: pointer;
}

.reset:hover{
    width: 108px;
    height: 108px;
    margin-right: 36px;
    margin-top: 36px;
}

.reset:active{
    opacity: 0.9;
    background-color: rgb(4, 4, 152);
}

.tkmimg{
    position: absolute;
    width: 150px;
    top: 0;
    left: 0;
    border-radius: 100px;
}

.secimimg{
    width: 50px;
    border-radius: 100px;
    position: absolute;
    vertical-align: middle;
}

.draw,
.computer,
.player{
    background-color: rgb(46, 180, 180);
    border-radius: 100px;
    width: 50px;
    position: absolute;
    border: none;
}